.button {
  text-align: center;
  width: 450px;
  height: 98px;
  background: #25b0f0;
  margin: 20px;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  border-width: 4px;
}

#recordButton {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.aiButton1 {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 500px;
    background: #25b0f0;
    margin: 30px 40px 40px 40px;
    color: #ffffff;
    font-weight: 700;
    border-width: 4px;
    transition: all ease-in-out 0.2s;
}

.flexColumn {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.alignButtons {
  width: 77%;
  display: flex;
  flex-flow: column-reverse;
  flex-direction: column;
  margin: auto;
}




.aiChat{
  width: 75%;
  padding: 0 12.5% 0 12.5%;
};

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
};
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#4671EA, #AC34E7);
}

.wrapper{
  display: inline-flex;
  width: 50%;
  border-radius: 5px;
  padding: 0% 5%;
  position: fixed;
  bottom: 25px;
}

.wrapper textarea{
  width:100%;
  height: 59px;
  padding: 15px;
  border-radius: 5px;
  outline: none; 
  resize:none;
  font-size: 16px;
  border-radius: 5px;
  border-color :bfbfbf;

}
textarea :is(:focus, :valid){
  border-width: 2px;
  padding: 14px;
  border-color: #4671EA;
}
textarea::-webkit-scrollbar{
  width: 0px;
}

  
  .aiButton1__text {
    font: bold 20px "Quicksand", san-serif;
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .aiButton1--loading .aiButton1__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .aiButton1--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }